*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* HEADER STYLE------------------------------ */

header{
    background-color: rgb(0, 132, 253);
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ------------------------------------------------- */

/* PERKS STYLE ---------------------------------------- */

.perks{
    width: 100%;
}

.flex-container{
    width: 70%;
    margin: 0 auto;
}

.long-card, .card{
    background-color: rgb(181, 221, 255);
}

.text *{
    width: 100%;
    text-align: center;
}

.text h2{
    color:rgb(0, 132, 253) ;
}

.text a{
    background-color: rgb(0, 132, 253);
    color: white;
    text-decoration: none;
    border-radius: 50%;
    padding: 0.2rem 0.3rem;
    margin: 1rem auto;
    display: block;
    width: 50%;
}

.image{
    display: flex;
    justify-content: center;
}
.image svg{
    width: 25%;
    filter: invert(32%) sepia(72%) saturate(2193%) hue-rotate(194deg) brightness(101%) contrast(107%);
}


.image img{
    width: 100%;
    padding: 1rem;
}



/* ------------------------------------------------------ */


/* STRATEGIC-PLANNING STYLE ---------------------------- */

.strategic-planning{
    background-color: rgb(151, 146, 228);
}

[alt=planning-2]{
    width: 100%;
}

.text-white{
    color: white;
    text-align: center;
}

.planning-container div:nth-child(2){
    /* background-color: white; */
    width: 100%;
    margin: 0 auto;
}
/*  ------------------------------------------------ */

/* TESTIMONIALS STYLE -------------------------------- */

.testimonials-text p:first-of-type,
.testimonials-text h2,
.testimonials-text p:nth-of-type(2){
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.testimonials-text p:nth-of-type(2){
    line-height: 1.5rem;
}


.profile-card{
    background-color: rgb(151, 146, 228) ;
    border: 1px dashed black;
    border-radius: 25px;
    width: 90%;
    margin: 1rem auto;
}


.profile-container{
    width: 70%;
    margin: 1rem auto;
}
.profile-image{
    display: flex;
    justify-content: center;
}

.profile-text p{
    width: 100%;
    text-align: center;
    color: rgb(226, 224, 248);
    font-weight: bolder;
    line-height: 1.5rem;
}

.profile-image img{
    width: 50%;
    border-radius: 100%;
}

/* ---------------------------------------------------- */

.benefits{
    background-color: rgb(151, 146, 228);
}

.benefits h2{
    text-align: center;
    color: white;
}

.benefits-container{
    width: 70%;
    margin: 0 auto;
}

.benefits-container h4{
    color: rgb(159, 154, 230);
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.benefits-container h3{
    color: rgb(151, 146, 228);
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.benefits-card{
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 15px;
    padding: 1rem;
}

.benefits-card p{
    width: 100%;
    margin-bottom: 0.5rem;
    line-height: 2rem;
}

.benefits-card a{
    background-color: rgb(151, 146, 228);
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 15px;
}

/* --------------------------------------------------------- */

/* ABOUT US STYLE -------------------------------------- */


.about-container{
    border: 3px solid black;
    margin: 0 auto;
}

.about-text{
    text-align: center;
    border: 2px solid pink;
    width: 70%;
    margin: 1rem auto;
}

.about-text h2{
    color: rgb(167, 162, 232);
    margin-bottom: 0.5rem;
}

.about-text p{
    width: 100%;
}

.about-profile{
    width: 70%;
    margin: 1rem auto;
    border: 3px solid yellowgreen;
}
.about-profile img{
    width: 50%;
    border-radius: 100%;
}

.about-profile p{
    line-height: 2rem;
    color: rgb(153, 148, 228);
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about-profile a{
    color: white;
    background-color: rgb(151, 146, 228);
    padding: 0.2rem 0.8rem;
    border-radius: 25px;
    text-decoration: none;
}

/* ------------------------------------------------------- */

/*  GET STARTED STYLE -------------------------------- */

.get-started{
    background-color:  rgb(151, 146, 228);
    color: white;
}


.started-text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.started-text h4{
    color: rgb(207, 205, 242);
    margin-bottom: 0.5rem;
}

.started-text h3{
    margin-bottom: 0.5rem;
}

.started-text h2{
    color: rgb(253, 193, 95);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.started-text p:first-of-type{
    line-height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.started-text p:nth-of-type(2){
    margin-top: 1.5rem;
}

.started-text p{
    color: rgb(240, 239, 251);
}

.started-text a{
    color: white;
}

#started-link {
    color: rgb(160, 155, 230);
    background-color: white;
    padding: 0.3rem 1rem;
    border-radius: 25px;
    width: 100%;
    margin: 1rem;
}
/* ----------------------------------------------------- */

/* FOOTER-STYLE ---------------------------------------- */

footer{
    background-color: rgb(51, 51, 51);
}

.footer-text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
footer p{
    color: white;
    padding: 1rem ;
    line-height: 1.5rem;
    width: 90% ;
    font-size: 0.8rem;
    margin-left: 1.5rem;
}

/* ---------------------------------------------------------------- */

/* MEDIA QUERY TABLET --------------------------- */

@media screen and (min-width:768px){
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 50%;
        gap: 2rem;
    }
    .long-card{
        width: calc(100% / 3 *2 - 2rem);
        display: flex;
    }

    .card{
        width:calc(100% / 3 - 2rem) ;
    }

    .about-container{
        display: flex;
    }
    .benefits-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    }

    .benefits-card{
        width: calc(100% / 2 - 1rem);
    }

}

/* ----------------------------------------- */

/* MEDIA QUERY PC --------------------------------- */

@media screen and (min-width:1020px) {
    /* CONTENUTI BOXED */
    .header{
        width: 800px;
    }
    .flex-container{
        width: 800px;
        margin: 0 auto;
    }

    .planning-container{
        width: 800px;
        margin: 0 auto;
        display: flex;
    }

    .testimonials-text{
        width: 800px;
        margin: 0 auto;
    }

    .profile-container{
        width: 800px;
        margin: 0 auto;
    }

    .benefits-container{
        width: 800px;
        margin: 0 auto;
    }
 
    .about-container{
        width: 800px;
        margin: 0 auto;
    }

    .started-text{
        width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .footer-text{
        width: 800px;
        margin: 0 auto;
        
    }
}